{% extends "base.html" %}
{% load static %}
{% block nav %}

{#    <li class="nav-item">#}
{#        <a class="nav-link" href="{% url "create" %}"><h3>Создание записи</h3></a>#}
{#    </li>#}

{% endblock %}
{% block content %}
    <h2>Товары</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h3>{{ product.name }} (category - {{ product.categories}})</h3>
                        <p>{{ product.description }}</p>
                        <a href="{% url "product_view" pk=product.pk %}">Подробнее о товаре</a>
{#                        <a class="btn btn btn-primary" href="{% url "update_note" pk=note.pk %}" role="button"><i class="fa fa-pencil"></i> Редактировать</a>#}
{#                        <a class="btn btn btn-primary" href="{% url "delete" pk=note.pk %}" role="button"><i class="fa fa-trash"></i> Удалить</a>#}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <p></p>

{% endblock %}