{% extends "base.html" %}
{% block nav %}
{#    <a class="nav-link" href="{% url "create_product" %}">Create task</a>#}
{#    <a class="nav-link" href="{% url "update_product" product.pk %}">Update task</a>#}
{#    <a class="nav-link" href="{% url "delete" product.pk %}">Delete</a>#}
{% endblock %}
{% block content %}
<p>name - {{ product.name }}</p>
<p>category - {{ product.categories }}</p>
<p>description - {{ product.description }}</p>
<p>balance - {{ product.balance }}</p>
    <p>price - {{ product.price }}</p>

<a href="{% url "index_view" %}">На главную</a>
{% endblock %}